.searchContainer {
  margin: 20px auto;
  width: 400px;
  position: relative;
}
.input {
  border: none;
  border-bottom: 3px solid #ffcc00;
  padding: 12px 20px;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.input:focus {
  border-bottom: 3px solid #ff9900;
  transform: scale(1.05);
}
